
.getInfoContainer{
    width: 90%;
    border: solid #ccc 5px;
    margin: 1% auto 1% auto;
    padding: 2%;
}

#selectGetUser{
    width: 47.5%;
}

#inputGetUser{
    margin-top: 2%;
    width: 28.5%;
}

